/*
#id Selects id
.class selects class
element selects element
*/

html {
    min-width: 360px !important;
}

body {
    width: 360px !important;
    height: 160px !important;
}

#gba {
    height: 0px !important;
}

#oneGoogleWrapper {
    display: none !important;
    height: 0px !important;
}

#nav-content-container {
    display: none !important;
}

#player {
    position: relative !important;
    box-shadow: none !important;
    height: 100% !important;
    border-top: 0px !important;
    display: table;
    min-width: 360px;
}

#player.visualize {
    background: none;
}
#player.visualize > .player-middle {
    background: none;
}

#player.active:hover .playing-progress-background {
    background: transparent;
}

.player-top {
   display: block !important;
   display: table-row-group;
}

#volume_low {
    opacity: 100;
}

#vslider {
    opacity: 100;
}

.player-left {
    height: 53px;
}
#player-left-wrapper {
    float: none !important;
    width: 100% !important;
    background-color: transparent !important;
    display: table-row-group;
}

.now-playing-menu-wrapper {
    background: transparent !important;
    background-image: none !important;
    display: none !important;
}

.player-middle {
    float: none !important;
    background-color: transparent !important;
    display: table-header-group;
}

.fade-out:after {
    background-image: none !important;
    background: none !important;
}

#player-right-wrapper {
    float: none !important;
    width: 100%;
    background-color: transparent !important;
    margin-left: 0px;
    text-align: left;
}

.screensaver.visible, .panning {
    width: 100% !important;
    height: 100% !important;
}

.overlay {
    width: 100% !important;
    height: 100% !important;
}

#player .flat-button[data-id="queue"] {
    display: none !important;
}
