/*
 * css/cocoa.css
 *
 * Custom stylesheet that emulates the appearance of a native Mac OS X application.
 *
 * Created by Sajid Anwar.
 *
 * Subject to terms and conditions in LICENSE.md.
 *
 */

$Background_Color: white; /* color */
$Card-Background_Color: #f8f8f8; /* color */
$Table-Header-Gradient_Top_Color: #d8d8d8; /* color */
$Table-Header-Gradient_Bottom_Color: #f1f1f1; /* color */
$Table-Row-Font-Color: black; /* color */
$Table-Row-Background_Color: white; /* color */
$Table-Row-Alternate-Background_Color: #F4F7FB; /* color */
$Table-Row-Selected_Row-Font-Color: white; /* color */
$Table-Row-Selected_Row-Background_Color: #ff8200; /* color */
$Sidebar-Background_Color: #DBDFE7; /* color */

body, #main, #content, #music-content, .song-row td {
    background-color: $Background_Color;
}

.g-content {
    margin: 0;
}

.g-doc {
    height: calc(100% - 60px) !important;
}

.card {
    background-color: $Card-Background_Color;
}

.card .image {
    height: auto;
}

.cluster {
    margin-left: 0px;
}

.song-table {
    padding: 0;
}

$Table-Header-Border-Width: 1; /* int */
$Table-Header-Border-Bottom: #CCCCCC; /* color */
$Table-Header-Border-Right: #BABABA; /* color */
$Table-Header-Border-Left: #EAEAEA; /* color */

.song-table .header-row th {
    background: linear-gradient(0deg, $Table-Header-Gradient_Bottom_Color, $Table-Header-Gradient_Top_Color);
    border-bottom: $Table-Header-Border-Width+px solid $Table-Header-Border-Bottom;
    height: 26px;
    text-transform: none;
    border-right: $Table-Header-Border-Width+px solid $Table-Header-Border-Right;
    border-left: $Table-Header-Border-Width+px solid $Table-Header-Border-Left;
}

.song-row:nth-child(odd) td {
    background-color: $Table-Row-Alternate-Background_Color !important;
}

.song-row img {
    height: 26px !important;
    width: 26px !important;
    visibility: hidden;
}

.song-row .song-indicator {
    width: 32px !important;
    height: 26px !important;
}

.song-row .song-indicator[data-playback-status="loading"] {
    background-position: -4px -7px;
}

.song-row .song-indicator[data-playback-status="paused"] {
    /*background-position: -404px -2193px;*/
}

$Table-Row-Border-Width: 1; /* int */
$Table-Row-Border-Color: #EAEAEA; /* color */

.song-row td {
    height: 26px;
    min-height: 26px;
    max-height: 26px;
    line-height: 26px;
    border: none;
    font-size: 12px;
    color: $Table-Row-Font-Color;
    border-right: $Table-Row-Border-Width+px solid #EAEAEA;
    cursor: default;
    background-color: $Table-Row-Background_Color !important;
}

.song-row.selected-song-row td {
    color: $Table-Row-Selected_Row-Font-Color !important;
    background-color: $Table-Row-Selected_Row-Background_Color !important;
}

.song-row.selected-song-row .song-indicator {
    -webkit-filter: brightness(0%) invert(100%);
    background-color: transparent;
}

.song-row .hover-button[data-id=play] {
    height: 26px !important;
    width: 26px !important;
    background-position: -1377px -1367px;
    display: none;
}

.song-row .hover-button {
    margin-top: 1px;
}

.song-row .explicit {
    margin-top: 8px;
}

.song-row .rating-container.stars {
    height: 100% !important;
    /* GDeskTunes*/
    margin-top: 22px !important;
}

.song-row .rating-container.thumbs [data-rating] {
    /* GDeskTunes*/
    margin-top: 22px;
}

.song-row .hover-button[data-id="menu"], .song-row .hover-button[data-id="menu"]:hover {
    margin: 1px 0 0 0;
    border: none;
    border-radius: 0;
}

.song-row.selected-song-row .hover-button[data-id="menu"] {
    background-color: transparent !important;
    -webkit-filter: brightness(20%) invert(100%);
}

.music-banner {
    display: none;
}

$Sidebar-Border-Width: 1; /* int */
$Sidebar-Border-Right: #BBBBBB; /* color */
$Sidebar-Border-Top: #CCCCCC; /* color */
#nav {
    top: 0;
    background-color: $Sidebar-Background_Color;
    border-right: $Sidebar-Border-Width+px solid $Sidebar-Border-Right;
    border-top: $Sidebar-Border-Width+px solid $Sidebar-Border-Top;
    width: auto;
    margin: 0;
}

#nav_collections .nav-item-container, .nav-item-container {
    font-size: 13px !important;
    font-weight: 400 !important;
    color: #333 !important;
    height: 26px !important;
    line-height: 26px !important;
    cursor: default !important;
}

$Sidebar-Selected-Gradient_Top_Color: #ff9d20; /* color */
$Sidebar-Selected-Gradient_Bottom_Color: #ff7d00; /* color */

#nav_collections .nav-item-container.selected, .nav-item-container.selected, .nav-item-container.selected:focus, .nav-item-container.selected:hover {
    background: linear-gradient(0deg, $Sidebar-Selected-Gradient_Bottom_Color, $Sidebar-Selected-Gradient_Top_Color) !important;
    color: white !important;
    font-weight: 500;
}

.nav-item-container:hover {
    background: none;
}

.nav-section-header {
    padding-left: 10px;
    font-weight: bold;
    color: #66717F;
    text-shadow: 0px 1px 0px #FCFAFF;
}

.nav-section-divider {
    display: none;
}

.nav-item-container:hover .playlistDropDown, .nav-item-container:hover .playlistDropDown:hover, .nav-item-container.selected .playlistDropDown, .nav-item-container.selected .playlistDropDown:hover {
    background-color: transparent !important;
    margin-top: 1px !important;
}

.nav-item-container.selected .playlistDropDown, .nav-item-container.selected .playlistDropDown:hover {
    -webkit-filter: brightness(20%) invert(100%);
}

.nav-bar .header-tab-title.selected {
    border: 1px solid #aaa;
    border-radius: 20px;
    background-image: linear-gradient(0deg, #f8f8f8, #e0e0e0);
    -webkit-box-shadow: inset 0px 1px 1px #bbb;
    box-shadow: inset 0px 1px 1px #bbb;
}

.nav-bar .header-tab-title {
    height: 28px;
    line-height: 29px;
    margin-top: 8px;
    cursor: default;
}

.nav-bar .header-tab-title:hover {
    background-color: transparent;
}

.nav-bar #breadcrumbs {
    background: none;
}

$Navigation-Gradient_Top_Color: #ffffff; /* color */
$Navigation-Gradient_Bottom_Color: #f8f8f8; /* color */
.nav-bar {
    background-image: linear-gradient(0deg, $Navigation-Gradient_Bottom_Color, $Navigation-Gradient_Top_Color);
}


.fade-out:after {
    background: none !important;
}

$Player-Gradient_Top_Color: #efefef; /* color */
$Player-Gradient_Bottom_Color: #b5b5b5; /* color */

#player, .player-middle {
    background-color: #b5b5b5 !important;
    background: linear-gradient(0deg, $Player-Gradient_Bottom_Color, $Player-Gradient_Top_Color);
    border-top: 1px solid #a0a0a0;
}

.player-middle {
    padding: 3px 0 0 0;
    margin: 0;
}

#player .flat-button, #player .flat-button:hover, #player .flat-button:active {
    background-color: transparent !important;
}

.now-playing-menu-wrapper {
    background: none;
}

#player:not(.material) [data-id="now-playing-menu"] {
    border: none;
}

#player .rating-container.thumbs li.selected:hover, #player .rating-container.thumbs li:hover {
    background-color: transparent;
}

#volume:hover, #volume.simulated-hover {
    background: none !important;
}

#volume #vslider, #volume #volume_low, #volume #volume_high {
    opacity: 1 !important;
}

$Header-Gradient_Top_Color: #e5e5e5; /* color */
$Header-Gradient_Middle_Color: #d5d5d5; /* color */
$Header-Gradient_Bottom_Color: #b5b5b5; /* color */

#oneGoogleWrapper > div:first-child > div:first-child {
    background: linear-gradient(0deg, $Header-Gradient_Bottom_Color, $Header-Gradient_Middle_Color 50%, $Header-Gradient_Top_Color);
    border-bottom: 1px solid #606060;
    height: 59px;
}

.gbqfqw {
    border-radius: 15px;
    border-color: #808080;
    -webkit-box-shadow: inset 0px 2px 3px #aaa;
    box-shadow: inset 0px 2px 3px #aaa;
    border-right-width: 1px;
}

#gbqfb {
    border: none;
    width: 24px;
    min-width: 24px;
    margin-left: -35px;
    position: absolute;
    height: 24px;
    background: transparent;
    -webkit-filter: invert(50%);
}

#gbqfb:active:active {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    filter: none;
    -webkit-filter: invert(80%);
}

#gbqfb:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.gbqfi.gb_g {
    width: 24px;
    height: 24px;
    background-position: -211px -246px;
    -webkit-filter: invert(66%);
}

#gbqfq {
    margin-top: 5px !important;
    padding-left: 2px !important;
    font-size: 14px !important;
}

div.simple-dialog-bg {
    opacity: 0.01 !important;
    background-color: transparent;
}

.simple-dialog {
    -webkit-animation-duration: 0.8s;
    -webkit-animation-name: slidedown;
    -webkit-animation-timing-function: ease-out;
    overflow: hidden;
    top: 60px !important;
    border-radius: 0 0 5px 5px;
    border-top-width: 0;
    background-color: rgba(240,240,240,0.98);
}

@-webkit-keyframes slidedown {
   from {
      max-height: 0%; 
   }

   to {
      max-height: 100%;
   }
}

.simple-dialog-title, .simple-dialog-content {
    background-color: transparent;
}

.butter-bar-container {
    top: 0;
}

.song-table [data-col="index"] .content, 
.song-table [data-col="track"] .content {
    color: inherit;
}

.song-row.currently-playing td[data-col="track"] span,
.song-row.currently-playing td[data-col="index"] span {
    visibility: collapse;
}

.song-row.currently-playing td[data-col="track"] span > div,
.song-row.currently-playing td[data-col="index"] span > div {
    visibility: visible;
}

.read-more-button-wrapper.fade-out {
    background: transparent;
}

$Scrollbar-Width: 10; /* int */
$Scrollbar-Background: #DBDFE7; /* color */
$Scrollbar-Thumb: #ABAFB7; /* color */
$Scrollbar-Radius: 6; /* int */

::-webkit-scrollbar {
    width: $Scrollbar-Width+px !important;
}

::-webkit-scrollbar-thumb {
    background-color: $Scrollbar-Thumb !important;
    border-width: 1px !important;
    border-radius: $Scrollbar-Radius+px !important;
}

::-webkit-scrollbar-track {
    background: $Scrollbar-Background !important;
    border-width: 0 !important;
}

$Loading-Gradient_Top_Color: #e5e5e5; /* color */
$Loading-Gradient_Bottom_Color: #B0B0B0; /* color */

#loading-progress {
    background: linear-gradient(0deg, $Loading-Gradient_Bottom_Color, $Loading-Gradient_Top_Color);
}

#loading-progress-content {
    top: 40%;
}

#loading-progress-message {
    color: #444;
    text-align: center;
}

#loading-progress-bar {
    height: 3px;
}

#current-loading-progress {
    height: 3px;
}

