$background: white;
$banner: inherit;

body {
	background: $background;
}

/* Banner at the top of the screen */
#oneGoogleWrapper > div:first-child > div:first-child {
	background: $banner;
}

#headerBar {
	background: inherit;
}

.nav-bar {
	background: inherit;
}

#breadcrumbs {
	background: inherit;
}

#nav {
	background: inherit;
}

.fade-out:after {
	background: inherit;
	
	.gray {
		background: %
	}
}

#music-content {
	background: inherit;
}


#breadcrumbs {
	background: inherit;
}

#breadcrumbs {
	background: inherit;
}

#breadcrumbs {
	background: inherit;
}

#breadcrumbs {
	background: inherit;
}

#breadcrumbs {
	background: inherit;
}
